 <!-- Story component .ts -->

<section class="OurStory Section">
    <img src="/images/1-1.jpg" alt class="Our--Story--Img">
    <div class="OurStory--Box">
        <h2 class="OurStory--Title">Swiss Essence</h2>
        <p class="OurStory--Paragraph">
            Here go three good news. First: some things will never get old.
            Second: we believe
            that a good watch is a great opportunity to complement the look.
            Third: watches
            have come in fashion again. Doesn’t matter retro or modern, watches
            now are
            essential elements of a great look.
        </p>
        <button class="btn-x"><a href="about.html">Read our story</a></button>
    </div>

</section>